{% extends 'BackendBundle:Default:main.html.twig' %}

{% block content %}

    <h1>Contenidos</h1>

    <div class="row">
        {#<div class="col-sm-12 col-md-3 col-lg-2 pull-right">   
            <a class="btn btn-success marbot cien" href="{{ path('portfolio_new') }}">
                Agregar Nuevo Portafolio
            </a>
        </div> #}     

    </div> 
    <div class="row">
        <div class="col-lg-10">
            <div class="table-responsive">
                <table class="table table-bordered table-hover tablesorter">

                    <thead>
                        <tr>                            
                            <th style="width: 50%">Nombre</th>                            
                            <th style="width: 50%">Acciones</th>
                        </tr>
                    </thead>
                    <tbody >

                        <tr>                                
                            <td>Misión</td>                            
                            <td>
                                <ul>                                    
                                    <lo>
                                        <a title="Agregar o editar contenido"  href="{{ path('content_new', {'type': 0}) }}"><i class="fa fa-pencil btn btn-default"></i></a>
                                    </lo>                     
                                </ul>
                            </td>
                        </tr>
                        <tr>                                
                            <td>Visión</td>                            
                            <td>
                                <ul>                                    
                                    <lo>
                                        <a title="Agregar o editar contenido"  href="{{ path('content_new', {'type': 1}) }}"><i class="fa fa-pencil btn btn-default"></i></a>
                                    </lo>                     
                                </ul>
                            </td>
                        </tr>
                        <tr>                                
                            <td>Servicios de redes electricas</td>                            
                            <td>
                                <ul>                                    
                                    <lo>
                                        <a title="Agregar o editar contenido"  href="{{ path('content_new', {'type': 2}) }}"><i class="fa fa-pencil btn btn-default"></i></a>
                                    </lo>                     
                                </ul>
                            </td>
                        </tr>
                        <tr>                                
                            <td>Servicios de obras civiles</td>                            
                            <td>
                                <ul>                                    
                                    <lo>
                                        <a title="Agregar o editar contenido"  href="{{ path('content_new', {'type': 3}) }}"><i class="fa fa-pencil btn btn-default"></i></a>
                                    </lo>                     
                                </ul>
                            </td>
                        </tr>
                        <tr>                                
                            <td>Servicios Organizacionales</td>                            
                            <td>
                                <ul>                                    
                                    <lo>
                                        <a title="Agregar o editar contenido"  href="{{ path('content_new', {'type': 4}) }}"><i class="fa fa-pencil btn btn-default"></i></a>
                                    </lo>                     
                                </ul>
                            </td>
                        </tr>
                        <tr>                                
                            <td>Encabezado de Misión y Visión</td>                            
                            <td>
                                <ul>                                    
                                    <lo>
                                        <a title="Agregar o editar contenido"  href="{{ path('content_new', {'type': 5}) }}"><i class="fa fa-pencil btn btn-default"></i></a>
                                    </lo>                     
                                </ul>
                            </td>
                        </tr>
                        <tr>                                
                            <td>Encabezado Acerca de Nosotros</td>                            
                            <td>
                                <ul>                                    
                                    <lo>
                                        <a title="Agregar o editar contenido"  href="{{ path('content_new', {'type': 6}) }}"><i class="fa fa-pencil btn btn-default"></i></a>
                                    </lo>                     
                                </ul>
                            </td>
                        </tr>
                        <tr>                                
                            <td>Encabezado Portafolio</td>                            
                            <td>
                                <ul>                                    
                                    <lo>
                                        <a title="Agregar o editar contenido"  href="{{ path('content_new', {'type': 7}) }}"><i class="fa fa-pencil btn btn-default"></i></a>
                                    </lo>                     
                                </ul>
                            </td>
                        </tr>
                        <tr>                                
                            <td>Encabezado Nuestros servicios</td>                            
                            <td>
                                <ul>                                    
                                    <lo>
                                        <a title="Agregar o editar contenido"  href="{{ path('content_new', {'type': 8}) }}"><i class="fa fa-pencil btn btn-default"></i></a>
                                    </lo>                     
                                </ul>
                            </td>
                        </tr>
                        <tr>                                
                            <td>Encabezado Contactenos</td>                            
                            <td>
                                <ul>                                    
                                    <lo>
                                        <a title="Agregar o editar contenido"  href="{{ path('content_new', {'type': 9}) }}"><i class="fa fa-pencil btn btn-default"></i></a>
                                    </lo>                     
                                </ul>
                                    
                                    
                            </td>
                        </tr>

                    </tbody>
                </table>
                {#{% if  entities | length >8  %}
                    <ul id="paginate_elements">
                        {% if paginator.currentPage > 1 %}
                            <lo><a href="{{ path('content', {'page': paginator.previousPage}) }}">Anterior</a></lo>
                            {% else %}
                            <lo class="left_disabled"><a href="#">Anterior</a></lo>
                            {% endif %}

                        {% for page in paginator.minPageInRange..paginator.maxPageInRange %}
                            {% if page == paginator.currentPage %}
                                <lo><a class="current" href="#">{{ page }}</a></lo>
                                {% else %}
                                <lo><a href="{{ path('content', {'page': page}) }}">{{ page }}</a></lo>
                                {% endif %}
                            {% endfor %}

                        {% if paginator.currentPage < paginator.lastPage %}
                            <lo class="right"><a href="{{ path('conten', {'page': paginator.nextPage}) }}">Siguiente</a></lo>
                            {% else %}
                            <lo class="right_disabled">Siguiente</lo>
                            {% endif %}
                    </ul>
                {% endif %}#}
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    {#    <script>#}
    $(".deletePortfolio").click(function () {
    var object = $(this);
    var annotationId = object.attr('entity-id');
    bootbox.confirm({
    message: '¿Esta seguro que quiere eliminar este registro?',
    buttons: {
    'cancel': {
    label: 'Cancelar',
    className: 'btn-default'
    },
    'confirm': {
    label: 'Eliminar',
    className: 'btn-danger'
    }
    },
    callback: function (result) {
    if (result) {
    $.ajax({
    type: 'POST',
    url: "{{ path('portfolio_delete')}}",
    dataType: 'json',
    data: 'id=' + annotationId,
    success: function (resp) {
    if (resp.result == '__OK__') {
    object.parent().parent().remove();
    location.reload(true);
    } else {
    bootbox.alert(resp.msg);
    }
    },
    error: function ()
    {
    bootbox.alert('Error, try again')
    }

    });
    }
    }
    });
    });
{% endblock %} 