{% extends 'BackendBundle:Default:main.html.twig' %}
{% import 'BackendBundle:Default:modalfilemanager.html.twig' as filemanagerbutton %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1>{{type | capitalize}}</h1>
            <div class=container-buttons>
                <a class="btn btn-primary pull-right" href="{{ path('content') }}"><i class="fa fa-list white"></i> Volver a la lista</a>
            </div>                
        </div>
    </div>

    <form role="form" class="form-horizontal" method="post" {{ form_enctype(form) }} action="{{path('content_create', {'type': value}) }}">
        <div class="row">       
            <div class="col-md-12">  
                <div id="termtextarea" class="form-group"> 
                    {{form_label(form.content, 'Contenido de la sección')}}
                    {{ form_widget(form.content) }}
                    <p class="help-block alert-danger">{{form_errors(form.content)}}</p>
                </div>
            </div>
        </div> 
        {{ form_widget(form._token) }} 


        <ul class="record_actions">
            <lo>
                <a title="Volver" href="{{ path('content') }}" class="btn btn-primary"><i class="fa fa-arrow-left "></i> Volver</a>
            </lo>       
            <lo>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </lo>      
        </ul>        
    </form>
{% endblock %}
{% block scripts %}



    tinymce.init({
    selector: "textarea",
    height: 300,
    plugins: [
    "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
    "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
    "table contextmenu directionality emoticons template textcolor paste fullpage textcolor colorpicker textpattern responsivefilemanager"
    ],
    toolbar1: "newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
    toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | insertdatetime preview | forecolor backcolor",
    toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks nonbreaking template pagebreak restoredraft",
    menubar: false,
    toolbar_items_size: 'small',
    style_formats: [
    {title: 'Bold text', inline: 'b'},
    {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
    {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
    {title: 'Example 1', inline: 'span', classes: 'example1'},
    {title: 'Example 2', inline: 'span', classes: 'example2'},
    {title: 'Table styles'},
    {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
    ],
    relative_urls: false,
    external_filemanager_path: "{{ asset('bundles/backend/filemanager/') }}",
    filemanager_title: "Responsive Filemanager",
    external_plugins: {"filemanager": "{{ asset('bundles/backend/filemanager/plugin.min.js') }}"}
    });

{% endblock %}