/*  Add here all your css styles (customizations)  */
.navbar-brand {
    height: auto;
    padding: 0;
}
.navbar-brand > img {
    height: 50px;
}
.tp-dottedoverlay.twoxtwo {
    background: rgba(0, 0, 0, 0.5) url("../img/patterns/gridtile.png") repeat scroll 0 0;
}
.stikyhi {
    display: none;
}
.stikybye {
    display: block;
}
.top-nav-collapse .stikyhi {
    display: block;
}
.top-nav-collapse .stikybye {
    display: none;
}
.about-image {
    background-image: url("../img/mockup.jpg");
    background-size: cover;
    min-height: 800px;
}
.team-v1 {
    background-Image: none!important;
}
.btntesti {
    border: 1px solid white!important;
    position: relative;
    color: white!important;
    position: absolute;
    bottom: -101px;
    width: 16%;
    left: 42%;
}
.modal-dialog {}
.thumbnail {margin-bottom:6px;}

.carousel-control.left,.carousel-control.right{
  background-image:none;
}
.team-v1 {
    background-image: url("../../bundles/frontend/img/bg.jpg")!important;
    background-size: 100% auto;
    background-position: center top!important;
}
.team-v1 h2 {
    color: white;
}
.team-v1 .title-v1 p {
    color: white;
    width: 50%;
    margin: 0 auto;
}
.about-image .title-v1 p {
    width: 50%;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .cbp-l-grid-gallery .cbp-item {
        width: 32%!important;
        position: relative!important;
        transform: inherit!important;
    }
    .cbp-l-grid-gallery {
        visibility: hidden;
        overflow: hidden;
        height: auto!important;
    }
}
@media (max-width: 736px) {
    .tp-simpleresponsive >ul >li {
        height: 300px!important;
    }
    .fullscreenbanner-container {
        height: 300px!important;
        position: relative!important;
    }
    .about-image {
        background-position: 50% top!important;
    }
    #about .content-lg {
        background-position: 0% bottom!important;
        padding-bottom: 0!important;
    }
    .content-lg .row {
        padding-bottom: 50px!important;
        background-color: rgba(255,255,255,0.9)!important;
    }
    .btn-u.btn-brd {
        width: 80%!important;
        margin-bottom: 12px!important;
        left: 10%!important;
    }
    .parallax-twitter {
        background: #000 url(../../bundles/frontend/img/bg/bg2.jpg) center top fixed!important;
        background-size: 500%!important;
    }
    .fancybox-overlay-fixed {
        background-color: rgba(0,0,0,0.8)!important;
    }
    .row.contacts-in {
        background-color: transparent!important;
    }
    form .row {
        background-color: transparent!important;
        margin-bottom: 0!important;
        padding-bottom: 10px!important;
    }
    .team-v1 .title-v1 p, .about-image .title-v1 p {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .cbp-l-grid-gallery .cbp-item {
        width: inherit!important;
    }
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%!important;
    margin: auto!important;
}
.carousel-caption {
    background-color: rgba(0,0,0,0.4)!important;
    text-align: center!important;
    left: 0!important;
    right: 0!important;
    bottom: 0!important;
    padding: 12px!important;
}

.carousel-caption h3 {
    padding: 0!important;
    margin: 0!important;
}
.carousel-indicators {
    top: 20px!important;
    bottom: inherit!important;
}