<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        p<meta name="description" content="" />
        <meta name="keywords" content="mobile" />
        <meta name="author" content="Kijho" />
        <link rel="shortcut icon" href="favicon.ico">
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('bundles/frontend/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{ asset('bundles/backend/css/fancy.css')}}" rel="stylesheet">

        <!-- Add custom CSS here -->
        <link href="{{ asset('bundles/frontend/font-awesome-4.1.0/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>
    <body style="padding:50px;">

        <div class="widget_container">
            <div id="fancy">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="myTabContent" class="tab-content">

                            <div class="control-group form-group col-md-6 login">
                                <h4>{{text}} Puntos</h4>
                                <form  action="{{path('backend_add_create')}}" method="post" >
                                    <div class="controls">
                                        <div class="col-md-6 well">                                        
                                            {{form_widget(form.value, { 'attr': {'class': 'form-control'  ,' placeholder': 'Puntos'} })}}
                                            <p class="help-block alert-danger">{{form_errors(form.value)}}</p>
                                        </div>
                                    </div>
                                    <div class="well">
                                        <input type="hidden" name="id" id="id" value="{{id}}">
                                        <input type="hidden" name="op" id="op" value="{{op}}">
                                        <input type="hidden" name="text" id="text" value="{{text}}">
                                        <input type="hidden" name="sa" id="sa" value="{{sa}}">
                                        <button class="btn btn-primary btn-r" type="submit">{{text}}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery Version 1.11.0 -->
    <script src="{{ asset('bundles/frontend/js/jquery-1.11.0.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('bundles/frontend/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript">
            
           var sa =  $("#sa").val();
           if(sa == "2"){
                    window.parent.$.fancybox.close();            
                    window.parent.location.reload();
                }
            
        </script>
</body>
</html>