<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">         
        <meta name="description" content="" />
        <meta name="keywords" content="mobile" />
        <meta name="author" content="Kijho" />
        <link rel="shortcut icon" href="favicon.ico">
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('bundles/frontend/css/bootstrap.min.css')}}" rel="stylesheet">
{#        <link href="{{ asset('bundles/backend/css/fancy.css')}}" rel="stylesheet">#}
        <link href="{{ asset('bundles/backend/css/jquery.fancybox.css')}}" rel="stylesheet" type="text/css">

        <!-- Add custom CSS here -->
        <link href="{{ asset('bundles/frontend/font-awesome-4.1.0/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>
    <body style="padding:14px;">

        <div class="col-sm-8" style="display: block; float: none; margin: 0 auto;">
            <div class="panel panel-success text-center">
                <div class="panel-heading">
                    <h3 class="panel-title"><h2>Historial Puntos</h2></h3>
                </div>
                <div class="panel-body">                    
                    <span class="period">{{ user.name |title}} {{ user.lastname |title}}</span>
                </div>
                <ul class="list-group text-right">
                    {% for entity in points |reverse%}
                        <li class="list-group-item"><strong class="pull-left">{{ loop.index }}</strong> <span class="label {% if entity.operation=='1' %}label-success{% else %}label-warning{% endif %}">{% if entity.operation=='1' %}+{% else %}-{% endif %} {{ entity.value }} Puntos</span></li>

                    {% endfor %}
                </ul>
                 <div class="panel-body">
                     <span class="period">Total</h2</span>
                    <span class="price"><h2>{{ user.total }} Puntos</h2></span>
                    
                </div>
            </div>
        </div>


        <!-- jQuery Version 1.11.0 -->
        <script src="{{ asset('bundles/frontend/js/jquery-1.11.0.js')}}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('bundles/frontend/js/bootstrap.min.js')}}"></script>
        <script type="text/javascript">

            var sa = $("#sa").val();
            if (sa == "2") {
                window.parent.$.fancybox.close();
                window.parent.location.reload();
            }

        </script>
    </body>
</html>