{% extends 'BackendBundle:Default:main.html.twig' %}

{% block title 'home' %} 
    {% block content %}
        <div class="row">
            <div class="col-lg-12">
                <h1>Inicio</h1>
                <ol class="breadcrumb">
                    <li class="active"><i class="fa fa-home"></i> Dashboard</li>
                </ol>
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Bienvenido al panel del Administrador
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        {#                        <h3>53<sup style="font-size: 20px">%</sup></h3>#}
                        <h3>{{canTra}}</h3>
                        <p>Nuestro Equipo</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a class="small-box-footer" href="{{path('worker')}}">Agregar  <i class="fa fa-plus-circle"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        {#                        <h3>53<sup style="font-size: 20px">%</sup></h3>#}
                        <h3>{{canPort}}</h3>
                        <p>Portafolio</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-briefcase"></i>
                    </div>
                    <a class="small-box-footer" href="{{path('portfolio')}}">Agregar  <i class="fa fa-plus-circle"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        {#                        <h3>53<sup style="font-size: 20px">%</sup></h3>#}
                        <h3>{{canCli}}</h3>
                        <p>Nuestros Clientes</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-stalker"></i>
                    </div>
                    <a class="small-box-footer" href="{{path('client')}}">Agregar  <i class="fa fa-plus-circle"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        {#                        <h3>53<sup style="font-size: 20px">%</sup></h3>#}
                        <h3>{{canTes}}</h3>
                        <p>Testimonios</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-chatboxes"></i>
                    </div>
                    <a class="small-box-footer" href="{{path('testimony')}}">Ver  <i class="fa fa-plus-circle"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        {#                        <h3>53<sup style="font-size: 20px">%</sup></h3>#}
                        <h3>{{canCont}}</h3>
                        <p>Dudas y Contacto</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-email"></i>
                    </div>
                    <a class="small-box-footer" href="{{path('contact_mail')}}">Ver  <i class="fa fa-plus-circle"></i></a>
                </div>
            </div>
            
                <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        {#                        <h3>53<sup style="font-size: 20px">%</sup></h3>#}
                        <h3>10</h3>
                        <p>Contenidos</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-clipboard"></i>
                    </div>
                    <a class="small-box-footer" href="{{path('content')}}">Ver  <i class="fa fa-plus-circle"></i></a>
                </div>
            </div>

        </div><!-- /.row -->
    {% endblock content %}
