<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Bienvenido{% endblock %} | Administracion web</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('bundles/backend/css/bootstrap.css') }}" type="text/css" rel="stylesheet" media="screen" />
        <link href="{{ asset('bundles/backend/fancybox/jquery.fancybox.css') }}" type="text/css" rel="stylesheet" media="screen" />
        <link href="{{ asset('bundles/backend/css/jquery-ui.css') }}" type="text/css" rel="stylesheet" media="screen" />
        <link href="{{ asset('bundles/backend/adminlte/css/AdminLTE.css') }}" type="text/css" rel="stylesheet" media="screen" />
        <link href="{{ asset('bundles/backend/adminlte/css/ionicons.min.css') }}" type="text/css" rel="stylesheet" media="screen" />
        <link href="{{ asset('bundles/backend/adminlte/dist/css/AdminLTE.min.css') }}" type="text/css" rel="stylesheet" media="screen" />
        <!-- Add custom CSS here -->
        <link href="{{ asset('bundles/backend/css/sb-admin.css') }}" type="text/css" rel="stylesheet" media="screen" />
        <link href="{{ asset('bundles/backend/css/style.css') }}" type="text/css" rel="stylesheet" media="screen" />
        <link href="{{ asset('bundles/backend/font-awesome/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" media="screen" />
        <!-- Page Specific CSS -->
        <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
    </head>
    <body>
        <div id="wrapper">
            <!-- Sidebar -->          
            {%include('BackendBundle:Default/includes:nav.html.twig')%}
            <div id="page-wrapper">
                {% block content %}
                {% endblock %}
            </div><!-- /#page-wrapper -->
        </div><!-- /#wrapper -->
        <!-- JavaScript -->
        <script src="{{ asset('bundles/backend/js/jquery-1.11.1.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/js/bootstrap.js') }}" type="text/javascript"></script>       
        <script src="{{ asset('bundles/backend/js/bootbox.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/js/jquery-ui.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/fancybox/jquery.fancybox.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/js/tinymce/tinymce.min.js') }}" type="text/javascript"></script>
        <!-- Page Specific Plugins -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
        <script src="{{ asset('bundles/backend/js/tablesorter/jquery.tablesorter.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/js/sortable/jquery-sortable-lists.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/js/tablesorter/tables.js') }}" type="text/javascript"></script>

        <script type="text/javascript">
            $('.fancy').fancybox({
                autoSize: false,
            });

        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $(".fancybox").fancybox();
            {% block scripts %}
            {% endblock %}
                });

            {% block functions_javascript %}
            {% endblock %} 

        </script>
    </body>
</html>
