<!doctype html> 
<html>
    {% include 'BackendBundle:Default:headFancy.html.twig' %} 
    <body style="padding:14px;">       
        <div class="widget_container">
            <div id="fancy">
                <div class="panel container-fluid">
                {% block content %}

                {% endblock %}
                </div>
            </div>
        </div>
        {#{%javascripts             
        '@FrontendBundle/Resources/public/js/jquery-1.11.0.js'     
        '@FrontendBundle/Resources/public/js/bootstrap.min.js'
        %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}#}
        <script src="/bundles/frontend/js/jqueryscrollto/jquery.scrollTo.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
            {% block script %}
            {% endblock %}
                });
        </script>
    </body>
</html> 
