{% extends 'BackendBundle:Default:main.html.twig' %}

{% block content %}
    <h1>Fundacion {{ entity.name }}</h1>


    <div class="row">
        <div class="col-lg-10">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ entity.name }} {{ entity.lastName }}</td>
                        </tr>
                        <tr>
                            <th>Fecha de nacimiento</th>
                            <td>{{ entity.person.date | date('Y-m-d') }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ entity.email }}</td>
                        </tr>    
                         <tr>
                            <th>Puntos</th>
                            <td>{{ entity.total }}</td>
                        </tr>    
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
    <ul class="record_actions">
        <lo>
            <a title="Volver" href="{{ path('backend_usuarios') }}" class="btn btn-primary"><i class="fa fa-arrow-left "></i> Volver</a>
        </lo>
       
    </ul>

{% endblock %}


