{% extends 'BackendBundle:Default:main.html.twig' %}
{% import 'BackendBundle:Default:modalfilemanager.html.twig' as filemanagerbutton %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1>Creación de Trabajador</h1>
            <div class=container-buttons>
                <a class="btn btn-primary pull-right" href="{{ path('portfolio') }}"><i class="fa fa-list white"></i> Volver a la lista</a>
            </div>                
        </div>
    </div>

    <div class="row">       
        <div class="col-md-6">
            {{ form_start(form)}}            
            <div class="form-group">
                {{form_label(form.name,'Nombre')}}
                {{form_widget(form.name, { 'attr': {'class': 'form-control'} })}}
                <p class="help-block alert-danger">{{form_errors(form.name)}}</p>
            </div>           

             <div class="form-group"> 
                {{form_label(form.type, 'Tipo')}}
                {{ form_widget(form.type, { 'attr': {'class': 'form-control'} }) }}
                <p class="help-block alert-danger">{{form_errors(form.type)}}</p>
            </div>

            <div class="form-group">
                {{form_label(form.imagenPath, null)}}
                <div class="input-group input-group-sm">
                    {{form_widget(form.imagenPath, { 'attr': {'readonly': 'readonly', 'class': 'form-control'} })}}
                    {{ filemanagerbutton.filemanagerbutton('mymodal', 'backend_bundle_portfolio_imagenPath') }}
                </div>
                <p class="help-block alert-danger">{{form_errors(form.imagenPath)}}</p>
            </div>        
        </div>        

        <div class="col-md-6">
            <div id="termtextarea" class="form-group"> 
                {{form_label(form.description, 'Descripción')}}
                {{ form_widget(form.description) }}
                <p class="help-block alert-danger">{{form_errors(form.description)}}</p>

            </div>
        </div>
    </div>   

    <ul class="record_actions">
        <lo>
            <a title="Volver" href="{{ path('worker') }}" class="btn btn-primary"><i class="fa fa-arrow-left "></i> Volver</a>
        </lo>       
        <lo>
            {{form_widget(form.submit, { 'attr': {'class': 'btn btn-success'} })}}
            {{ form_widget(form._token) }} 
            {{ form_end(form)}}
        </lo>          
    </ul>
{% endblock %}
{% block scripts %}



    tinymce.init({
    selector: "textarea",
    height: 300,
    plugins: [
    "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
    "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
    "table contextmenu directionality emoticons template textcolor paste fullpage textcolor colorpicker textpattern responsivefilemanager"
    ],
    toolbar1: "newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
    toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | insertdatetime preview | forecolor backcolor",
    toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks nonbreaking template pagebreak restoredraft",
    menubar: false,
    toolbar_items_size: 'small',
    style_formats: [
    {title: 'Bold text', inline: 'b'},
    {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
    {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
    {title: 'Example 1', inline: 'span', classes: 'example1'},
    {title: 'Example 2', inline: 'span', classes: 'example2'},
    {title: 'Table styles'},
    {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
    ],
    relative_urls: false,
    external_filemanager_path: "{{ asset('bundles/backend/filemanager/') }}",
    filemanager_title: "Responsive Filemanager",
    external_plugins: {"filemanager": "{{ asset('bundles/backend/filemanager/plugin.min.js') }}"}
    });

{% endblock %}