<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {%  endblock %}</title>
    <meta name="description" content="" />
    <meta name="keywords" content="mobile" />
    <meta name="author" content="Kijho" />
    <link rel="shortcut icon" href="favicon.ico">   
    {#{% stylesheets filter='?yui_css,css_url_rewrite'
            '@FrontendBundle/Resources/public/plugins/bootstrap/css/bootstrap.min.css'
            '@FrontendBundle/Resources/public/font-awesome/css/font-awesome.min.css'        
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %} #}
    <link href="{{ asset('bundles/frontend/plugins/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" media="screen" />
    <link href="{{ asset('bundles/frontend/font-awesome/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" media="screen" />
    {#    <link href="{{ asset('bundles/backend/adminlte/css/AdminLTE.css') }}" type="text/css" rel="stylesheet" media="screen" />#}
    <link href="{{ asset('bundles/backend/css/bootstrap.css') }}" type="text/css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 70%;
            margin: auto;
        }
    </style>
</head>
