<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="pets, dogs, love">
    <meta name="author" content="">
    {% block metatags %}
    {%  endblock %}    
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/frontend/img/apple-icon-57x57.png') }}">

    {% stylesheets filter='?yui_css,css_url_rewrite'
            '@FrontendBundle/Resources/public/plugins/bootstrap/css/bootstrap.min.css'
            '@FrontendBundle/Resources/public/plugins/revolution-slider/css/settings.css'
            '@FrontendBundle/Resources/public/css/app.css'
            '@FrontendBundle/Resources/public/css/plugins.css'
            '@FrontendBundle/Resources/public/css/blocks.css'
            '@FrontendBundle/Resources/public/css/plugins/animate.css'
            '@FrontendBundle/Resources/public/css/plugins/box-shadows.css'
            '@FrontendBundle/Resources/public/css/footers/footer-v7.css'
            '@FrontendBundle/Resources/public/css/one.style.css'
            '@FrontendBundle/Resources/public/plugins/line-icons/line-icons.css'
            '@FrontendBundle/Resources/public/plugins/font-awesome/css/font-awesome.min.css'
            '@FrontendBundle/Resources/public/plugins/pace/pace-flash.css'          
            '@FrontendBundle/Resources/public/plugins/owl-carousel/owl.carousel.css'          
            '@FrontendBundle/Resources/public/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css'         
            '@FrontendBundle/Resources/public/plugins/cube-portfolio/templates/lightbox-gallery/css/main.css'        
            '@FrontendBundle/Resources/public/css/theme-skins/one.dark.css'         
            '@FrontendBundle/Resources/public/css/custom.css'         
            '@FrontendBundle/Resources/public/fancybox/jquery.fancybox.css'         
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %} 
    {#    <link rel="stylesheet" href="/bundles/frontend/plugins/revolution-slider/css/settings.css" type="text/css" media="screen">#}
    <link rel="stylesheet" href="/bundles/frontend/css/theme-colors/default.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <title>Solinnovacion | Bienvenidos</title>
</head>
