<!--=== Header ===-->    
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#intro">
                <img class="stikybye" src="{{ asset('bundles/frontend/img/logo.png') }}" alt="solinnovacion">
                <img class="stikyhi" src="{{ asset('bundles/frontend/img/logocolor.png') }}" alt="solinnovacion">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="page-scroll home">
                    <a href="#body">Inicio</a>
                </li>
                <li class="page-scroll">
                    <a href="#about">Nosotros</a>
                </li>
                <li class="page-scroll">
                    <a href="#services">Servicios</a>
                </li>
                <li class="page-scroll">
                    <a href="#portfolio">Portafolio</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Contáctenos</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!--=== End Header ===-->  