{% extends 'BackendBundle:Default:main.html.twig' %}
{% import 'BackendBundle:Default:modalfilemanager.html.twig' as filemanagerbutton %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1>Imagenes para la galeria</h1>
            <div class=container-buttons>
                <a class="btn btn-primary pull-right" href="{{ path('backend_gallery_index') }}"><i class="fa fa-list white"></i> Volver a la lista</a>
            </div>                
        </div>
    </div>

    <div class="row">       
        <div class="col-md-6">
            {{ form_start(form)}}            
            <div class="form-group">
                {{form_label(form.nombre, null)}}
                {{form_widget(form.nombre, { 'attr': {'class': 'form-control'} })}}
                <p class="help-block alert-danger">{{form_errors(form.nombre)}}</p>
            </div>  
            
            <div class="form-group">
                {{form_label(form.descripcion, null)}}
                {{form_widget(form.descripcion, { 'attr': {'class': 'form-control'} })}}
                <p class="help-block alert-danger">{{form_errors(form.descripcion)}}</p>
            </div>           

            <div class="form-group">
                {{form_label(form.imagenPath, null)}}
                <div class="input-group input-group-sm">
                    {{form_widget(form.imagenPath, { 'attr': {'readonly': 'readonly', 'class': 'form-control'} })}}
                    {{ filemanagerbutton.filemanagerbutton('mymodal', 'puppy_home_imagenes_imagenPath') }}
                </div>
                <p class="help-block alert-danger">{{form_errors(form.imagenPath)}}</p>
            </div>       
        </div>         
    </div>   

    <ul class="record_actions">
        <lo>
            <a title="Volver" href="{{ path('backend_gallery_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left "></i> Volver</a>
        </lo>       
        <lo>
            {{form_widget(form.submit, { 'attr': {'class': 'btn btn-success'} })}}
            {{ form_widget(form._token) }} 
            {{ form_end(form)}}
        </lo>          
    </ul>
{% endblock %}
{% block scripts %}

{% endblock %}