{% extends 'BackendBundle:Default:main.html.twig' %}

{% block content %}

    <h1>Lista De Mensajes</h1>
    <div class="row">
        <div class="col-lg-10">
            {# {% if app.session.hasFlash('cotizacion-not') %}
                 <div>
                     {{ app.session.flash('cotizacion-not') }}
                 </div>
             {% endif %}#}
            <div class="table-responsive">
                <table class="table table-bordered table-hover tablesorter">

                    <thead>
                        <tr>                            
                            <th style="width: 14%">Nombre</th>
                            <th style="width: 16%">Email</th> 
                            <th style="width: 10%">Estado</th>
                            <th style="width: 10%">Fecha</th>
                            <th style="width: 25%">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="idTableTesti" class="sortable">
                        {% for entity in entities %}
                            <tr>                                
                                <td>{{ entity.nombreCompleto | title}}</td>
                                <td>{{ entity.email }}</td>  
                                {%if entity.respuesta is not null%}
                                <td>Respondido</td>
                                {%else%}
                                 <td>Sin Responder</td>
                                 {%endif%}
                                <td>{{entity.creationDate | date("d/m/Y") }}</td>                                   
                                <td>
                                    <ul>
                                        <lo>                                            
                                            <a title="Responder" class="btn btn-success" href="{{ path('backend_contactenos_respuesta_new', {'id': entity.id} ) }}">Responder</a>
                                        </lo>
                                        <lo>
                                            <a title="Eliminar" class="btn btn-danger removeItem" entity-id='{{entity.id}}' href="javascript:void(0);">Eliminar</a>
                                        </lo>                            

                                    </ul>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">No hay mensajes</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if  entities | length >8  %}
                    <ul id="paginate_elements">
                        {% if paginator.currentPage > 1 %}
                            <lo><a href="{{ path('contact_mail', {'page': paginator.previousPage}) }}">Anterior</a></lo>
                            {% else %}
                            <lo class="left_disabled"><a href="#">Anterior</a></lo>
                            {% endif %}

                        {% for page in paginator.minPageInRange..paginator.maxPageInRange %}
                            {% if page == paginator.currentPage %}
                                <lo><a class="current" href="#">{{ page }}</a></lo>
                                {% else %}
                                <lo><a href="{{ path('contact_mail', {'page': page}) }}">{{ page }}</a></lo>
                                {% endif %}
                            {% endfor %}

                        {% if paginator.currentPage < paginator.lastPage %}
                            <lo class="right"><a href="{{ path('contact_mail', {'page': paginator.nextPage}) }}">Siguiente</a></lo>
                            {% else %}
                            <lo class="right_disabled">Siguiente</lo>
                            {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %} 
    
        $(".removeItem").click(function () {

            var object = $(this);
            var annotationId = object.attr('entity-id');
            
            bootbox.confirm({
                message: '¿Esta seguro que quiere eliminar este mensaje?',
                buttons: {
                    'cancel': {
                        label: 'Cancelar',
                        className: 'btn-default'
                    },
                    'confirm': {
                        label: 'Eliminar',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            type: 'POST',
                            url: "{{ path('backend_contactenos_delete')}}",
                            dataType: 'json',
                            data: 'id=' + annotationId,                            
                            success: function (resp) {
                                if (resp.result == '__OK__') {
                                    object.parent().parent().remove();
                                    location.reload(true);
                                } else {
                                    bootbox.alert(resp.msg);
                                }
                            },
                            error: function ()
                            {
                                bootbox.alert('Intentelo de nuevo')
                            }

                        });
                    }
                }
            });
        });

    {% endblock %}