<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>solinnovacion.com</title>
    </head>

    <body>
        <div class="galerry" style="width: 894px; height: auto; -moz-border-radius: 25px; overflow: hidden; background-color: #4DBFD6; color: #fff; margin-right: auto; margin-left: auto; display: block;">
            <img src="{{app.request.getScheme~'://'~app.request.getHttpHost~asset('bundles/backend/images/mail.jpg')}}" alt="bmak" usemap="#Map" style="width: 100%;" border="0" />
            <map name="Map" id="Map">
                <area shape="rect" coords="728,64,774,121" href="" target="_blank" />
                <area shape="rect" coords="828,64,875,121" href="" target="_blank"/>
                <area shape="rect" coords="778,65,825,121" href="" target="_blank" />
            </map>
            <div class="content" style="display: inline-block; width: 92%; padding: 3%; text-align: left; height: auto; bottom: 0px; font-family: Arial, Helvetica, sans-serif; font-size: 13px;">
                <table cellpadding="5">
                    <tbody>
                        <tr>
                            <td valign="top">
                                <h2 style="color: #2794AB; display: inline-block; font-size: 15px;">Hola</h2><br><strong>{{entitie.nombreCompleto}}</strong><br />
                               </td>
                        </tr>
                        <tr>
                            <td><table width="100%">
                                    <tbody>                
                                        <tr>
                                            <td colspan="2" valign="top">
                                                {{entitie.respuesta.mensaje | raw}}
                                                <br />
                                            </td>
                                        </tr>               
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="moi" style="float: left; width: 100%; height: auto; color: #5E87B5; font-size: 18px; margin-top: 2%;">
                    <img src="{{app.request.getScheme~'://'~app.request.getHttpHost~asset('bundles/backend/images/maild.jpg')}}" style="width: 100%;" alt="bmak" />
            </div>
        </div>

    </body>
</html>
