{% extends 'BackendBundle:Default:mainFancyBox.html.twig' %}

{% block content %}  
    {#<div class="col-md-4">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
              <!-- Add the bg color to the header using any of the bg-* classes -->
              <div class="widget-user-header bg-green">
                <div class="widget-user-image">
                  <img alt="User Avatar" src="{{asset('bundles/backend/adminlte/dist/img/user7-128x128.jpg')}}" class="img-circle">
                </div>
                <!-- /.widget-user-image -->
                <h3 class="widget-user-username">Nadia Carmichael</h3>
                <h5 class="widget-user-desc">Lead Developer</h5>
              </div>
              <div class="box-footer no-padding">
                <ul class="nav nav-stacked">
                  <li><a href="#">Projects <span class="pull-right badge bg-blue">31</span></a></li>
                  <li><a href="#">Tasks <span class="pull-right badge bg-aqua">5</span></a></li>
                  <li><a href="#">Completed Projects <span class="pull-right badge bg-green">12</span></a></li>
                  <li><a href="#">Followers <span class="pull-right badge bg-red">842</span></a></li>
                </ul>
              </div>
            </div>
            <!-- /.widget-user -->
          </div>#}
    {#<ul class="record_actions">
        <lo>
            <a title="Volver" href="javascript:history.back()" class="btn btn-primary"><i class="fa fa-arrow-left "></i> Volver</a>
        </lo>        
    </ul>#}

    <div class="col-md-4">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-green">
                <h3 class="widget-user-username">Alexander Pierce</h3>
                <h5 class="widget-user-desc">Founder &amp; CEO</h5>
            </div>
            <div class="widget-user-image">
                <img alt="User Avatar" src="{{asset('bundles/backend/adminlte/dist/img/user7-128x128.jpg')}}" class="img-circle">
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header">3,200</h5>
                            <span class="description-text">SALES</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header">13,000</h5>
                            <span class="description-text">FOLLOWERS</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4">
                        <div class="description-block">
                            <h5 class="description-header">35</h5>
                            <span class="description-text">PRODUCTS</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.widget-user -->
    </div>

{% endblock %}

