<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" >Administrador web</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li {% if menu is defined and menu == 'home'%}class="active"{%endif%}><a href="{{path('backend_homepage')}}"><i class="fa fa-home"></i> Inicio </a></li>
            {#<li {% if menu is defined and menu == 'razas'%}class="active"{%endif%}><a href="{{path('backend_razas_index')}}"><i class="fa fa-paw"></i> Razas </a></li>                     
            <li {% if menu is defined and menu == 'galeria'%}class="active"{%endif%}><a href="{{path('backend_gallery_index')}}"><i class="fa fa-picture-o"></i> Galería</a></li>                     
            <li {% if menu is defined and menu == 'testimonio'%}class="active"{%endif%}><a href="{{path('backend_testimonio_index')}}"><i class="fa fa-comment"></i> Testimonios</a></li>                     
            <li {% if menu is defined and menu == 'cotizaciones'%}class="active"{%endif%}><a href="{{path('backend_cotizaciones_index')}}"><i class="fa fa-money"></i> Cotizaciones</a></li>                     
            <li {% if menu is defined and menu == 'contactenos'%}class="active"{%endif%}><a href="{{path('backend_contactenos_index')}}"><i class="fa fa-envelope-o"></i> Contacto</a></li>                     
          #}
        </ul>

        <ul class="nav navbar-nav navbar-right navbar-user">
           
            <li class="dropdown user-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{app.user.name~' '~app.user.lastName}} <b class="caret"></b></a>
                <ul class="dropdown-menu">                    
                    <li class="divider"></li>
                    <li><a href="{{path('backend_user_logout')}}"><i class="fa fa-power-off"></i> Log Out</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
