/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/04/2014, 08:29:23 PM
    Author     : Juan José Molina
*/

.container-buttons{
    margin-bottom: 12px;
    float: left;
    width: 100%;
}

.modal-dialogimage {
    width: 90%;
    height: 90%;
    padding: 0;
}

.modal-contentimage {
    height: 100%;
    border-radius: 0;
    background-color: #ECECEC;
}
.modal-bodyimage{
    width: 100%;
    height: 100%;
}
.modal-headerimage{
    border-bottom: none; 
}
