{% extends 'FrontendBundle:Default:main.html.twig' %}
{% block metatags %}
{%  endblock %}

{% block content %}

    <header id="staticpic">
    </header>
    <div class="ola2"></div>
    <section class="bg-primary" id="raza">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Razas</h2>
                    <hr class="fux">
                    <p class="text-justify">Nuestro criadero ofrece una gran variedad de razas caninas que son consideradas 
                        excelentes mascotas por sus características y su compañía al ser humano. Te ofrecemos 
                        una asesoría en el momento de escoger la raza indicada para ti. Este pequeño
                        ser te dará grandes satisfacciones y muchas alegrías, es un amigo que jam&aacute;s te traicionara 
                        ni te abandonara, siempre te perdona tanto los errores como las injusticias y te recibirá 
                        retribuyéndole con su amor. Te ofrecemos una asesoría en el momento de escoger la raza 
                        indicada para ti.</p>

                    <p class="text-justify">Las fotos publicadas muestran las características de las razas. Es necesario tener en 
                        cuenta que los cachorros que vendemos no son los de las fotos publicadas en esta 
                        sección, pero si cumplen con todas sus características.</p>
                    <a href="{{ path('frontend_fancy_condiciones') }}" class="fancy fancybox.iframe btn btn-default btn-xl btnblue wow bounceIn fancyboxDos" style="width:auto">Condiciones de Entrega</a>
                    <hr class="foothr">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul id="myTab" class="nav nav-tabs nav-justified">
                        <li class="active"><a href="#fancy-one" data-toggle="tab">Razas Pequeñas</a>
                        </li>
                        <li class=""><a href="#fancy-two" data-toggle="tab">Razas Medianas</a>
                        </li>
                        <li class=""><a href="#fancy-tree" data-toggle="tab">Razas Grandes</a>
                        </li>
                    </ul>

                    <div id="myTabContent" class="tab-content">

                        <!-- Tab 1-->                        
                        <div class="tab-pane fade active in" id="fancy-one">
                            {% for pequenios in razasPequeñas%}
                                <div class="col-sm-6 col-md-3 panel-body">
                                    <a class="fancybox" title="fancyRazas" href="{{ path('frontend_fancy_razas', { 'id': pequenios.id }) }}">
                                        <div class="img_round"><img src="{{ pequenios.imagenPath }}" alt=""></div>
                                        <div class="btn btnrz wow bounceIn col-md-12">{{ pequenios.nombre }}</div>
                                    </a>
                                </div> 
                            {% endfor%}
                        </div>
                        <!-- /Tab 1-->  

                        <!-- Tab 2-->   
                        <div id="fancy-two" class="tab-pane fade">
                            {% for medianos in razasMedianas%}
                                <div class="col-sm-6 col-md-3 panel-body">
                                    <a class="fancybox" title="Cotización" href="{{ path('frontend_fancy_razas', { 'id': medianos.id }) }}">
                                        <div class="img_round"><img src="{{ medianos.imagenPath }}" alt=""></div>
                                        <div class="btn btnrz wow bounceIn col-md-12">{{ medianos.nombre }}</div>
                                    </a>
                                </div> 
                            {% endfor%}
                        </div>
                        <!-- /Tab 2-->  

                        <!-- Tab 3--> 
                        <div id="fancy-tree" class="tab-pane fade">
                            {% for grandes in razasGrandes%}
                                <div class="col-sm-6 col-md-3 panel-body">
                                    <a class="fancybox" title="fancyRazas" href="{{ path('frontend_fancy_razas', { 'id': grandes.id }) }}">
                                        <div class="img_round"><img src="{{ grandes.imagenPath }}" alt=""></div>
                                        <div class="btn btnrz wow bounceIn col-md-12">{{ grandes.nombre }}</div>
                                    </a>
                                </div> 
                            {% endfor%}
                        </div>
                        <!-- /Tab 3--> 
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
{% block script %}
    $(".fancybox").fancybox({
        'type': 'iframe',
        autoSize: false, 
        height:'80%',
        
        afterClose: function () {
            // USE THIS IT IS YOUR ANSWER THE KEY WORD IS "afterClose"
{#            window.location.reload();#}
        },
        helpers: {
            overlay: {closeClick: false} //Disable click outside event
        }
    });
   
    $(".fancyboxDos").fancybox({
        'type': 'iframe',
        autoSize: false, 
        height:'40%',        
        afterClose: function () {
            // USE THIS IT IS YOUR ANSWER THE KEY WORD IS "afterClose"
        },
        helpers: {
            overlay: {closeClick: false} //Disable click outside event
        }
    });
    {% endblock %}
