{% extends 'FrontendBundle:Default:mainFancy.html.twig' %}
{% block title %} {%  endblock %}
{% block content %}

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {%for portfolio in portfolios%}
                {%if loop.first == true%}
                    <li data-target="#myCarousel" data-slide-to="{{loop.index0}}" class="active"></li>
                    {%else%}
                    <li data-target="#myCarousel" data-slide-to="{{loop.index0}}"></li>
                    {%endif%}
                {%endfor%}
                {#<li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>#}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            {%for portfolio in portfolios%}
                {%if loop.first == true%} 
                    <div class="item active">
                        <img src="{{portfolio.imagenPath}}" alt="{{portfolio.name}}">
                        <div class="carousel-caption">
                            <h3>{{portfolio.name}}</h3>
                            <p>{{portfolio.description | raw}}</p>
                        </div>
                    </div>
                {%else%}
                    <div class="item">
                        <img src="{{portfolio.imagenPath}}" alt="{{portfolio.name}}">
                        <div class="carousel-caption">
                            <h3>{{portfolio.name}}</h3>
                            <p>{{portfolio.description | raw}}</p>
                        </div>
                    </div>  
                {%endif%}    
            {%endfor%}

            {#<div class="item">
                <img src="{{ asset('bundles/frontend/img/img_flower2.jpg')  }}" alt="Chania">
                <div class="carousel-caption">
                    <h3>Chania</h3>
                    <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
                </div>
            </div>

            <div class="item">
                <img src="{{ asset('bundles/frontend/img/img_chania2.jpg')  }}" alt="Flower">
                <div class="carousel-caption">
                    <h3>Flowers</h3>
                    <p>Beatiful flowers in Kolymbari, Crete.</p>
                </div>
            </div>#}

            {#<div class="item">
                <img src="{{ asset('bundles/frontend/img/bg1.jpg')  }}" alt="Flower">
                <div class="carousel-caption">
                    <h3>Flowers</h3>
                    <p>Beatiful flowers in Kolymbari, Crete.</p>
                </div>
            </div>#}
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

{% endblock %}
{% block script %}
    
{% endblock %}
