{% extends 'FrontendBundle:Default:mainFancy.html.twig' %}
{% block title %} {%  endblock %}
{% block content %}

    <!--formulario de testimonio -->


    <div class="col-sm-12" id="formulario">
        <h2 class="section-heading text-center">Publíca tu testimonio</h2>
        <hr class="primary">
        <p>Háblamos de tu experiencia con <strong>Solinnovación</strong></p>
        {% for flash_message in app.session.flashbag.get('notice') %}
            <div class="alert alert-success alert-dismissable">
                {#                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>#}
                {{ flash_message }}                
            </div>
        {% endfor %}
        <form role="form wow bounceIn"  action="{{path('frontend_fancy_agregar_testimonio')}}" method="post" {{form_enctype(form)}}>
            <div class="form-group">
                {{form_widget(form.nombreCompleto, { 'attr': {'class': 'form-control', 'placeholder':'Nombre y Apellido'} })}}
                <p class="help-block alert-danger">{{form_errors(form.nombreCompleto)}}</p> 
            </div>
            <div class="form-group">
                {{form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder':'Email'} })}}
                <p class="help-block alert-danger">{{form_errors(form.email)}}</p> 
            </div>
            <div class="form-group">
                {{form_widget(form.mensaje, { 'attr': {'class': 'form-control', 'placeholder':'Mensaje'} })}}
                <p class="help-block alert-danger">{{form_errors(form.mensaje)}}</p>                 
            </div>
            {{form_widget(form._token)}} 
            <button class="btn btn-default btn-xl btnblue wow bounceIn" type="submit" style="visibility: visible; animation-name: bounceIn;">Enviar</button>
        </form>
    </div>   


{% endblock %}
{% block script %}
  
{% endblock %}
