{% extends 'FrontendBundle:Default:mainFancy.html.twig' %}
{% block title %} {%  endblock %}
{% block content %}
    
    <div>
        <h2 class="section-heading text-center">{{title | capitalize}}</h2>
        {{entity.content | raw}}       
    </div>   
        
{% endblock %}
{% block script %}
  
{% endblock %}
