{% extends 'FrontendBundle:Default:main.html.twig' %}
{% block metatags %}
{%  endblock %}
{% block content %}
    <!-- Full Page Image Background Carousel Header -->
    <header id="staticpic">
    </header>
    <div class="ola2"></div>
    <section class="bg-primary" id="about" style="height: auto">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Galería</h2>
                    <hr class="fux">
                    <p>Nuestros momentos con cada experiencia de nuestros clientes y cada uno de los cachorros, son dignos de compartir, Vívelos con nosotros!</p>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                {% for galerias in galeria %}
                <div class="col-lg-4 col-sm-6 wow bounceIn hid">
                    <a href="{{ galerias.imagenPath }}" data-lightbox="example-set" title="{{ galerias.nombre }}" class="portfolio-box">
                        <img src="{{ galerias.imagenPath }}" class="picgal" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                   {{ galerias.nombre }}
                                </div>
                                <div class="project-name">
                                     {{ galerias.descripcion }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div> 
                 {% endfor %} 
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}    
{% endblock %}
