{% extends 'FrontendBundle:Default:main.html.twig' %}
{% block metatags %}
{%  endblock %}

{% block content %}

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="fullscreenbanner-container">
            <div class="fullscreenbanner">
                <ul>
                    <!-- SLIDE 1 -->
                    <li data-transition="curtain-1" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
                        <!-- MAIN IMAGE -->
                        <img src="{{ asset('bundles/frontend/img/bg1.jpg')  }}" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                        <!-- LAYERS -->
                        <div class="tp-caption rs-caption-1 sft start"
                             data-x="center"
                             data-hoffset="0"
                             data-y="200"
                             data-speed="800"
                             data-start="2000"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            SOMOS UNA EMPRESA CON TODA LA ENERGÍA
                        </div>

                        <!-- LAYER -->
                        <div class="tp-caption rs-caption-2 sft"
                             data-x="center"
                             data-hoffset="0"
                             data-y="300"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            ¡No se crea ni se destruye!<br>
                            nuetros clientes tienen las necesidades, nosotros las transformamos en energía.
                        </div>
                    </li>

                    <!-- SLIDE 2 -->
                    <li data-transition="slideup" data-slotamount="5" data-masterspeed="700"  data-title="Slide 3">
                        <!-- MAIN IMAGE -->
                        <img src="{{ asset('bundles/frontend/img/bg3.jpg')  }}"  alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                        <!-- LAYERS -->
                        <div class="tp-caption rs-caption-1 sft start"
                             data-x="center"
                             data-hoffset="0"
                             data-y="210"
                             data-speed="800"
                             data-start="1500"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            Nuestras Obras son realmente OBRAS
                        </div>

                        <!-- LAYER -->
                        <div class="tp-caption rs-caption-2 sfb"
                             data-x="center"
                             data-hoffset="0"
                             data-y="310"
                             data-speed="800"
                             data-start="2500"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            No le llamamos construir<br>
                            hacer realidad sueños de construcción.
                        </div>
                    </li>

                    <!-- SLIDE 3 -->
                    <li data-transition="slideup" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
                        <!-- MAIN IMAGE -->
                        <img src="{{ asset('bundles/frontend/img/bg2.jpg')  }}" alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                        <!-- LAYERS -->
                        <div class="tp-caption rs-caption-1 sft start"
                             data-x="center"
                             data-hoffset="0"
                             data-y="200"
                             data-speed="800"
                             data-start="1500"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            Fortalecemos Empresas
                        </div>

                        <!-- LAYER -->
                        <div class="tp-caption rs-caption-2 sft"
                             data-x="center"
                             data-hoffset="0"
                             data-y="300"
                             data-speed="1000"
                             data-start="2500"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            Asesoramos, suministramos y capacitamos<br> 
                            Somos una empresa ayudando a otras a crecer.                            
                        </div>
                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
                <div class="tp-dottedoverlay twoxtwo"></div>
            </div>
        </div>
    </section>
    <!-- End Intro Section -->

    <!--  About Section -->
    <section id="about" class="about-section section-first">
        <div class="block-v1">
            <div class="container">
                <div class="row content-boxes-v3">
                    <div class="col-md-4 md-margin-bottom-30">
                        <i class="icon-custom rounded-x icon-bg-dark fa fa-bolt"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">Energía Eléctrica</h2>
                            <p>Nuestros servicios de energía eléctrica están garantizados con la experticia de nuestro equipo de trabajo y productos de alta calidad.</p>
                        </div>
                    </div>
                    <div class="col-md-4 md-margin-bottom-30">
                        <i class="icon-custom rounded-x icon-bg-dark fa fa-cogs"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">Obras Civiles</h2>
                            <p>Trabajamos con las buenas prácticas de construcción y planeación de proyectos, tecnología de punta e insumos y materiales ideales.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <i class="icon-custom rounded-x icon-bg-dark fa fa-lightbulb-o"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">Servicios Organizacionales</h2>
                            <p>Planteamos bases de trabajo ideales a empresas con intención de desarrollo, crecimiento y evolución, aportando nuestros conocimientos</p>
                        </div>
                    </div>
                </div>                
            </div>
        </div>

        <div class="about-image bg-grey">
            <div class="container">
                <div class="title-v1">
                    <h1>Somos Solinnovación</h1>
                    <p>Comprometidos a ofrecer soluciones integrales en Proyectos de Innovación y Construcción de Ingeniería, enfocándose en un desarrollo social sostenido que redunde en el progreso y adelanto económico del país.</p>                
                </div>
                {#<div class="img-center">
                    <img class="img-responsive" src="{{ asset('bundles/frontend/img/mockup/mockup.png')  }}" alt="">
                </div>#}
            </div>
        </div>        

        <div class="container content-lg">
            <div class="title-v1">
                <h2>Nuestra Visión y Misión</h2>
            </div>

            <div class="row">
                <div class="col-md-6 content-boxes-v3 margin-bottom-40">
                    <div class="clearfix margin-bottom-30">
                        <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-trophy"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">Misión</h2>
                            <p>{%if mision is not empty%}{{mision.content | raw}}{%endif%}</p>
                        </div>
                    </div>
                    <div class="clearfix margin-bottom-30">
                        <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-directions"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">Visión</h2>
                            <p>{%if vision is not empty%}{{vision.content | raw}}{%endif%}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">           
            <div class="parallax-twitter parallaxBg">
                <div class="container parallax-twitter-in">
                    <div class="margin-bottom-30">
                        <i class="fa fa-comments" style="font-size: 50px;"></i>
                    </div>

                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <ul class="list-unstyled owl-twitter-v1">
                                {%for testi in testimonios%}
                                    <li class="item">
                                        <p>{{testi.mensaje}}<p>
                                            <span>{{testi.nombreCompleto | capitalize}}</span>
                                    </li> 
                                {%endfor%}
                            </ul>
                        </div>
                    </div>
                    <a class="btn-u btn-brd btn-brd-hover btn-u-dark fancybox btntesti" href="{{path('frontend_fancy_testimonio')}}">Danos tu testimonio</a>
                </div>            
            </div>

        </div>         

        <div class="team-v1 bg-grey content-lg">
            <div class="container">
                <div class="title-v1">
                    <h2>Nuestro Equipo</h2>
                    <p>Somos lo que busca, profesionales con el don de atención al cliente, un trato personalizado a su servicio, lo escuchamos y le damos solución.</p>
                </div>

                <ul class="list-unstyled row">
                    {%for worker in workers%}
                        <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
                            <div class="team-img">
                                <img class="img-responsive" src="{{worker.imagenPath}}" >
                            </div>
                            <h3>{{worker.name | capitalize}}</h3>
                            <h4>{{worker.position | capitalize}}</h4>
                            <p>{{worker.description | raw}}</p>
                        </li>
                    {%endfor%}
                </ul>                
            </div>
        </div>

    </section>
    <!--  About Section -->
    <!-- Services Section -->
    <section id="services">
        <div class="container content-lg">
            <div class="title-v1">
                <h2>Nuestros Servicios</h2>
                <p>{%if intro_n_s is not empty%}{{intro_n_s.content | raw}}{%endif%}</p>                
            </div>            

            <div class="row service-box-v1">
                <a class="col-md-4 col-sm-6">
                    <div class="service-block service-block-default">
                        <i class="icon-custom icon-lg icon-bg-u rounded-x fa fa-bolt"></i>
                        <h2 class="heading-md">Energía Eléctrica</h2>
                        <p>Sistemas de iluminación pública, arquitectónica, comercial e industrial, Redes eléctricas media y baja tensión, Instalación de redes eléctricas internas, plantas industriales y comerciales</p>
                        <ul class="list-unstyled">
                            <li class="btn fancyboxDos" href="{{path('frontend_fancy_energia_electrica')}}">Ver más de energía electríca</li>
                        </ul>                        
                    </div>
                </a>
                <a class="col-md-4 col-sm-6">
                    <div class="service-block service-block-default">
                        <i class="icon-custom icon-lg icon-bg-u rounded-x icon-line fa fa-cogs"></i>
                        <h2 class="heading-sm">Obras Civiles</h2>
                        <p>Movimiento de Tierras, terraplenes, explanaciones y Compactación de suelos, Construcciones de cunetas, alcantarillas, sardineles, gaviones, muros en concreto, apertura de vías y pavimentaciones.</p>
                        <ul class="list-unstyled">
                            <li class="btn fancyboxDos" href="{{path('frontend_fancy_obras_civiles')}}">Ver más de obras civiles</li>
                        </ul>                        
                    </div>
                </a>
                <a class="col-md-4 col-sm-12">
                    <div class="service-block service-block-default">            
                        <i class="icon-custom icon-lg icon-bg-u rounded-x icon-line fa fa-lightbulb-o"></i>
                        <h2 class="heading-sm">Servicios Organizacionales</h2>
                        <p>Asesoría  en seguridad industrial, salud ocupacional y medio ambiente, suministro de elementos de protección personal y seguridad industrial, Suministro de transporte de carga y pasajeros.</p>
                        <ul class="list-unstyled">
                            <li class="btn fancyboxDos" href="{{path('frontend_fancy_organizacionales')}}">Ver más organizacionales</li>
                        </ul>                        
                    </div>
                </a>
            </div>
        </div>

    </section>
    <!-- End Services Section -->
    <div class="clients-section parallaxBg">
        <div class="container">
            <div class="title-v1">
                <h2>Nuestros clientes</h2>
            </div>            
            <ul class="owl-clients-v2">
                {%for client in clients%}
                    <li class="item"><a href="#"><img src="{{ client.imagenPath }}" alt="{{client.name}}"></a></li>
                        {%endfor%}
            </ul>            
        </div>
    </div>
    <!-- Portfolio Section -->
    <section id="portfolio" class="about-section">
        <div class="container content-lg">
            <div class="title-v1">
                <h2>Nuestro Portafolio</h2>
                <p>{%if intro_port is not empty%}{{intro_port.content | raw}}{%endif%}</p>
            </div>
            <div class="wrapper-portfolio">
                <div id="grid-container" class="cbp-l-grid-gallery row">
                    <ul>
                        {#                        {%for portfolio in portfolios%}#}
                        <li class="cbp-item print motion">
                            <a class="cbp-caption" data-title="Redes Electricas">
                                <div class="cbp-caption-defaultWrap">
                                    <img class="thumbnail fancyboxPortfolio" href="{{path('frontend_fancy_portfolio', {'type': 0})}}" src="{{ asset('bundles/frontend/img/portfolio/soli_r1_c1.jpg')  }}" alt="" width="100">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Ver galería de Redes Electricas</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li class="cbp-item print motion">
                            <a class="cbp-caption" data-title="Obras Civiles">
                                <div class="cbp-caption-defaultWrap">
                                    <img class="thumbnail fancyboxPortfolio" href="{{path('frontend_fancy_portfolio', {'type': 1})}}" src="{{ asset('bundles/frontend/img/portfolio/soli_r1_c2.jpg')  }}" alt="" width="100">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Ver galería de Obras Civiles</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li class="cbp-item print motion">
                            <a class="cbp-caption" data-title="Servicios Organizacionales">
                                <div class="cbp-caption-defaultWrap">
                                    <img class="thumbnail fancyboxPortfolio" href="{{path('frontend_fancy_portfolio', {'type': 2})}}" src="{{ asset('bundles/frontend/img/portfolio/soli_r1_c3.jpg')  }}" alt="" width="100">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Ver galería de Servicios Organizacionales</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {#                        {%endfor%}#}
                    </ul>                   
                </div>
            </div>
        </div>

    </section>
    <!-- End Portfolio Section -->

    <!-- Contact Section -->
    <section id="contact" class="contacts-section">
        <div class="container content-lg">
            <div class="title-v1">
                <h2>Contáctenos</h2>
                <p>{%if intro_contact is not empty%}{{intro_contact.content | raw}}{%endif%}</p>
            </div>

            <div class="row contacts-in">
                <div class="col-md-7 md-margin-bottom-40">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-home"></i> CALLE 7 No 9ª 63 BARRIO TRIUNFO</li>
                        <li><i class="fa fa-marker"></i> PUERTO GAITÁN META</li>
                        <li><i class="fa fa-phone"></i> PBX: 57 (8) 646 04 22</li>
                        <li><i class="fa fa-mobile-phone"></i> +57 316 866 2246</li>
                        <li><hr></li>
                        <li><i class="fa fa-home"></i> CALLE 9 SUR No 97C 115 ZONA BELÉN</li>
                        <li><i class="fa fa-marker"></i> MEDELLIN ANTIOQUIA</li>
                        <li><i class="fa fa-phone"></i> PBX: +57 (4) 646 04 22</li>
                        <li><i class="fa fa-mobile-phone"></i> +57 316 500 1858</li>
                        <li><i class="fa fa-envelope"></i> <a href="info%40example.html">info@example.com</a></li>
                    </ul>
                </div>

                <div class="col-md-5">
                    <form action="{{path('frontend_contact_mail')}}" method="post" {{form_enctype(formMail)}}>
                        <label>Nombre Completo</label>
                        <div class="row margin-bottom-20">
                            <div class="col-md-12">
                                {#                                <input type="text" class="form-control">#}
                                {{form_widget(formMail.nombreCompleto, { 'attr': {'class': 'form-control'} })}}
                                <p class="help-block alert-danger">{{form_errors(formMail.nombreCompleto)}}</p> 

                            </div>                
                        </div>

                        <label>Correo Electronico<span class="color-red">*</span></label>
                        <div class="row margin-bottom-20">
                            <div class="col-md-12">
                                {#                                <input type="text" class="form-control">#}
                                {{form_widget(formMail.email, { 'attr': {'class': 'form-control'} })}}
                                <p class="help-block alert-danger">{{form_errors(formMail.email)}}</p> 


                            </div>                
                        </div>

                        <label>Mensaje</label>
                        <div class="row margin-bottom-20">
                            <div class="col-md-12">
                                {#                                <textarea rows="8" class="form-control"></textarea>#}
                                {{form_widget(formMail.mensaje, { 'attr': {'class': 'form-control'} })}}
                                <p class="help-block alert-danger">{{form_errors(formMail.mensaje)}}</p> 

                            </div>                
                        </div>
                        {{form_widget(formMail._token)}}  
                        <p><button type="submit" class="btn-u btn-brd btn-brd-hover btn-u-dark">Enviar</button></p>
                    </form> 
                </div>
            </div>            
        </div>

        <div class="copyright-section">
            <p>2016 &copy; Todos los derechos reservados. :: Diseño Web <a href="http://openpixel.co/" target="_blank">openpixel.com</a></p>
            <ul class="social-icons">
                <li><a href="#" data-original-title="Facebook" class="social_facebook rounded-x"></a></li>
                <li><a href="#" data-original-title="Twitter" class="social_twitter rounded-x"></a></li>
                <li><a href="#" data-original-title="Goole Plus" class="social_googleplus rounded-x"></a></li>
            </ul>
            <span class="page-scroll"><a href="#intro"><i class="fa fa-angle-double-up back-to-top"></i></a></span>
        </div>               
    </section>
    <!-- End Contact Section -->




{% endblock %}
{% block scripts %}
    {#    <script>#}
    {%if app.request.get('flag') is defined and app.request.get('flag') == true%}
        var offset = 20; //Offset of 20px

        $('html, body').animate({
        scrollTop: $("#contact").offset().top + offset
        }, 2000);
    {%endif%}    

    $('.row .thumbnail').on('load', function () {

    }).each(function (i) {
    if (this.complete) {
    var item = $('<div class="item"></div>');
    var itemDiv = $(this).parents('div');
    var title = $(this).parent('a').attr("title");

    item.attr("title", title);
    $(itemDiv.html()).appendTo(item);
    item.appendTo('.carousel-inner');
    if (i == 0) { // set first item active
    item.addClass('active');
    }
    }
    });

    /* activate the carousel */
    $('#modalCarousel').carousel({interval: false});

    /* change modal title when slide changes */
    $('#modalCarousel').on('slid.bs.carousel', function () {
    $('.modal-title').html($(this).find('.active').attr("title"));
    })

    /* when clicking a thumbnail */
    $('.row .thumbnail').click(function () {
    var idx = $(this).parents('div').index();
    var id = parseInt(idx);
    $('#myModal').modal('show'); // show the modal
    $('#modalCarousel').carousel(id); // slide carousel to selected

    });


    $(".fancybox").fancybox({
    'type': 'iframe',
    autoSize: false,
    height: '80%',
    afterClose: function () {
    // USE THIS IT IS YOUR ANSWER THE KEY WORD IS "afterClose"
    {#            window.location.reload();#}
    },
    helpers: {
    overlay: {closeClick: false} //Disable click outside event
    }
    });

    $(".fancyboxPortfolio").fancybox({
    'type': 'iframe',
    autoSize: false,
    height: '80%',
    afterClose: function () {
    // USE THIS IT IS YOUR ANSWER THE KEY WORD IS "afterClose"
    var offset = 20; //Offset of 20px
    $('html, body').animate({
    scrollTop: $("#portfolio").offset().top + offset
    }, 2000);
    },
    helpers: {
    overlay: {closeClick: false} //Disable click outside event
    }
    });
   
    $(".fancyboxDos").fancybox({
    'type': 'iframe',
    autoSize: true,
    afterClose: function () {
    // USE THIS IT IS YOUR ANSWER THE KEY WORD IS "afterClose"
    var offset = 20; //Offset of 20px
    $('html, body').animate({
    scrollTop: $("#services").offset().top + offset
    }, 2000);
    },
    helpers: {
    overlay: {closeClick: false} //Disable click outside event
    }
    });

{%endblock%}
