<!doctype html> 
<html>
    {% include 'FrontendBundle:Default/includes:headFancy.html.twig' %} 
    <body style="padding:14px;">       
        <div class="widget_container">
            <div id="fancy">
                <div class="panel container-fluid">
                {% block content %}

                {% endblock %}
                </div>
            </div>
        </div>
        {#{%javascripts             
        '@FrontendBundle/Resources/public/plugins/jquery-1.11.1.min.js'     
        '@FrontendBundle/Resources/public/plugins/bootstrap/js/bootstrap.min.js'
        %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}#}
        <link href="{{ asset('bundles/frontend/plugins/jquery-1.11.1.min.js') }}" type="text/css" rel="stylesheet" media="screen" />
        <link href="{{ asset('bundles/frontend/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/css" rel="stylesheet" media="screen" />
        <script src="/bundles/frontend/js/jqueryscrollto/jquery.scrollTo.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
            {% block script %}
            {% endblock %}
                });
        </script>
    </body>
</html> 
