<!doctype html> 
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]--> 
<html>
    {% include 'FrontendBundle:Default/includes:head.html.twig' %} 
    <body id="body" data-spy="scroll" class="demo-lightbox-gallery">
        {% include 'FrontendBundle:Default/includes:nav.html.twig' %}
        {% block content %}

        {% endblock %}
        {%javascripts                 
        '@FrontendBundle/Resources/public/plugins/jquery-1.11.1.min.js'      
        '@FrontendBundle/Resources/public/plugins/jquery-migrate-1.2.1.min.js'      
        '@FrontendBundle/Resources/public/plugins/bootstrap/js/bootstrap.min.js'        
        '@FrontendBundle/Resources/public/plugins/jquery.easing.min.js'         
        '@FrontendBundle/Resources/public/plugins/pace/pace.min.js' 
        '@FrontendBundle/Resources/public/plugins/jquery.parallax.js' 
        '@FrontendBundle/Resources/public/plugins/owl-carousel/owl.carousel.js' 
        '@FrontendBundle/Resources/public/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js' 
        '@FrontendBundle/Resources/public/plugins/cube-portfolio/templates/lightbox-gallery/js/main.js' 
        '@FrontendBundle/Resources/public/js/one.app.js' 
        '@FrontendBundle/Resources/public/js/plugins/pace-loader.js' 
        '@FrontendBundle/Resources/public/js/plugins/owl-carousel.js'
        '@FrontendBundle/Resources/public/js/plugins/revolution-slider.js' 
        '@FrontendBundle/Resources/public/fancybox/jquery.fancybox.js' 
        %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
        <script src="/bundles/frontend/plugins/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
        <script src="/bundles/frontend/plugins/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
        <script type="text/javascript">
            $('.fancy').fancybox({
                autoSize: false,
            });

        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                jQuery(document).ready(function () {
                    App.init();
                    App.initParallaxBg();
                    OwlCarousel.initOwlCarousel();
                    RevolutionSlider.initRSfullScreen();
                });
                $(".fancybox").fancybox();
            {% block scripts %}
            {% endblock %}
                });

            {% block functions_javascript %}
            {% endblock %} 

        </script>               
        <!--[if lt IE 9]>
        <script src="assets/plugins/respond.js"></script>
        <script src="assets/plugins/html5shiv.js"></script>
        <![endif]-->  
    </body>
</html> 
