{% extends 'BackendBundle:Default:main.html.twig' %}

{% block content %}    

    <div class="row">
        <div class="col-lg-12">
            <h1>Imagenes del Proyecto </h1>
            <ol class="breadcrumb">
                <li class="active"><i class="fa fa-folder-o"></i> Lista de imagenes </li>
            </ol>
        </div>
    </div>

    <div class="row">
        {% for mensaje in app.session.flashbag.get('errorUploading') %}
            <p class="info">{{ mensaje }}</p>
        {% endfor %}


    </div>
    <div class="row">
        <div class="col-md-4">
            <form action="{{path('backend_Project_upload_image',{'id':project.id})}}" method="post" {{form_enctype(formImage)}}>
                <div class="form-group">
                    {{form_label(formImage.image,'Seleccione una imagen')}}
                </div>

                <div class="form-group">
                    {{form_widget(formImage.image)}}
                    <p class="help-block alert-danger">{{form_errors(formImage.image)}}</p>
                </div>
                <div class="form-group">
                    {{form_label(formImage.name,'Nombre')}}
                    {{form_widget(formImage.name, { 'attr': {'class': 'form-control'} })}}
                    <p class="help-block alert-danger">{{form_errors(formImage.name)}}</p>
                </div>                               
                <div class="form-group">
                    {{form_label(formImage.description,'Descripción')}}
                    {{form_widget(formImage.description, { 'attr': {'class': 'form-control'} })}}
                    <p class="help-block alert-danger">{{form_errors(formImage.description)}}</p>
                </div>                                

                {{form_rest(formImage)}}

                <div class="col-lg-6">
                    <button class="btn btn-primary" type="submit">Subir</button>
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <div class=container-buttons>
                <a class="btn btn-primary pull-right" href="{{path('project')}}" >Listado Proyectos</a>
            </div>
            <ul id="container-images" class="sortable">    

                {% for image in images %}
                    <li id="listImage_{{ image.id }}" style="list-style: none;" class="col-md-3 mrtb">
                        <div class="handle">
                            <img src="{{ asset('uploads/images/'~image.path)  | apply_filter('thumb_210x120')}}" style="cursor: move; display: block"/>
                            <a title="Eliminar Imagen" href="javascript: void(0);" class="removeImage" image-id="{{image.id}}"><i class="fa fa-eraser btn btn-default"></i></a>
                            <a title="Editar Imagen" href="{{path('backend_project_list_images_edit_image',{'id':image.id})}}"><i class="fa fa-edit btn btn-default"></i></a>
                        </div>
                    </li>
                {%else%}
                    <li>
                        No hay imagenes para este Proyecto
                    </li>
                {% endfor %}
            </ul>

        </div>        

    </div>

{% endblock %}

{% block scripts %}

    var showingForm = false;
    $("#showImageForm").click(function(){
    $("#containerForm").slideToggle();

    if(showingForm == false)
    {
    showingForm = true;
    $(this).html('Cancelar');
    $(this).addClass('btn-danger');
    }
    else
    {
    showingForm = false;
    $(this).html('Agregar Imagen');
    $(this).removeClass('btn-danger');
    }
    });

    $(".removeImage").click(function(){
    var object = $(this);
    var imageId = object.attr('image-id');

    bootbox.confirm('Deseas borrar la imagen?', function(result) {

    if(result == true)
    {
    $.ajax({
    type: 'POST',
    url: "{{path('backend_image_category_remove_images')}}",
    dataType: 'json',
    data:'imageId='+imageId,
    success: function(resp) 
    {
    if(resp.result=='__OK__')
    {
    object.parent().parent().remove();
    }
    else
    {
    bootbox.alert(resp.msg);
    }
    },
    error: function()
    {
    bootbox.alert('Error, intente de nuevo')
    }
    });
    }        
    });
    });


    //$(".sortable").sortable();



    $("#container-images").sortable({
    handle : '.handle',
    update : function(){

    $.ajax({
    type: 'POST',
    url: "{{path('backend_image_category_order_images_project')}}",
    dataType: 'json',
    data: $("#container-images").sortable('serialize')+'&categoryId={{project.id}}',
    success: function(resp) 
    {
    if(!resp.result=='__OK__')
    {
    bootbox.alert(resp.msg);
    }
    },
    error: function()
    {
    bootbox.alert('Error, try again');
    }
    });
    }
    });


{% endblock %}
